<section class="conteudo__menu-esquerdo">
  <h2 class="conteudo__titulo">Menu</h2>
  <ul class="conteudo__nav">
    <li class="conteudo__nav-link">
      <a [routerLink]="['/home/editor']"><i class="fa fa-code conteudo__nav-icone" [class.conteudo__nav-icone--ativo]="editor"></i>
        Editor de código</a>
    </li>
    <li class="conteudo__nav-link">
      <a [routerLink]="['/home/comunidade']"><i class="fa fa-users conteudo__nav-icone" [class.conteudo__nav-icone--ativo]="comunidade"></i> Comunidade</a>
    </li>
    <li class="conteudo__nav-link">
      <a [routerLink]="['/home/admin']"><i class="fa fa-lock conteudo__nav-icone"
          [class.conteudo__nav-icone--ativo]="admin"></i> Administração</a>
    </li>
  </ul>
</section>
