<div class="conteudo__card-container">
  <h2 class="conteudo__card-titulo">{{ item.titulo }}</h2>
  <p class="conteudo__card-descricao">{{ item.descricao }}</p>
  <div class="conteudo__card-social">
    <div class="conteudo__card-icones">
      <div class="conteudo__card-comentario" (click)="clickComentario()">
        <span class="conteudo__card-icone"><i class="fa fa-comment"></i>{{ item.numComentarios }}</span>
      </div>
      <div class="conteudo__card-favorito" (click)="clickFavorito()">
        <span class="conteudo__card-icone" [class.conteudo__card-icone-fav--clicked]="favoritado"><i class="fa fa-heart"></i>{{ item.numFavoritos }}</span>
      </div>
    </div>
    <div class="conteudo__card-usuario">
      <img [src]="item.imagemUrl" class="conteudo__card-avatar">
      <span class="conteudo__card-nome">{{ item.usuario }}</span>
    </div>
  </div>
</div>
