<div class="conteudo__card-container">
  <h2 class="conteudo__card-titulo">Título do projeto</h2>
  <p class="conteudo__card-descricao">Essa é a descrição do meu projeto</p>
  <div class="conteudo__card-social">
    <div class="conteudo__card-icones">
      <div class="conteudo__card-comentario">
        <span class="conteudo__card-icone"><i class="fa fa-comment"></i>0</span>
      </div>
      <div class="conteudo__card-favorito">
        <span class="conteudo__card-icone"><i class="fa fa-heart"></i>0</span>
      </div>
    </div>
    <div class="conteudo__card-usuario">
      <img src="https://picsum.photos/32" class="conteudo__card-avatar">
      <span class="conteudo__card-nome">Challenger</span>
    </div>
  </div>
</div>
