.cabecalho__busca {
  display: none;

  position: absolute;
  top: 0.1rem;
  z-index: 1;
  height: 2.75rem;
  margin-right: 1rem;
  left: 0.9rem;
  background: var(--dark);
  width: 80%;
}

.cabecalho__pesquisa {
  background: rgba(255, 255, 255, 0.16);
  border: none;
  border-radius: 8px;
  height: 2.5rem;
  width: 100%;
  margin: 8px 0px;
  padding: 0px 14px;
  color: var(--bright);
  box-sizing: border-box;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .cabecalho__busca {
    width: 100%;
    display: block;

    position: initial;
    top: auto;
    z-index: auto;
    height: auto;
    margin-right: 0;
    left: auto;
    background: var(--dark);
  }

  .cabecalho__pesquisa {
    background: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
    height: 56px;
    width: 100%;
    margin: 8px 0px;
    padding: 0px 14px;
    color: var(--bright);
    box-sizing: border-box;
  }

  .cabecalho__pesquisa:hover {
    background: rgba(255, 255, 255, 0.24);
  }
}

/* Desktop  */
@media screen and (min-width: 1024px) {
  .cabecalho__busca {
    width: 100%;
    display: block;
    max-width: 768px;
  }
}
