<div class="cabecalho__nav-menu">
  <div class="cabecalho__nav-conteudo">
    <ul class="cabecalho__nav-lista">
      <li class="cabecalho__nav-opt">
        <a (click)="navegarPara('/home/editor')"><i class="fa fa-code cabecalho__nav-icone" [class.cabecalho__nav-icone--ativo]="editor"></i> Editor de
          código</a>
      </li>
      <li class="cabecalho__nav-opt">
        <a (click)="navegarPara('/home/comunidade')"><i class="fa fa-users cabecalho__nav-icone" [class.cabecalho__nav-icone--ativo]="comunidade"></i>
          Comunidade</a>
      </li>
    </ul>
    <app-ad-usuario pos="nav"></app-ad-usuario>
  </div>
</div>
