.cabecalho {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

app-ad-input-busca {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.cabecalho__opt {
  width: 30%;
  padding-right: 0.5rem;
}

.cabecalho__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cabecalho__nav-link {
  color: var(--branco);
  cursor: pointer;
}

.cabecalho__nav-link:hover {
  background: rgba(80, 129, 251, 0.08);
  border-radius: 1rem;
}

.cabecalho__nav-fechar {
  font-size: 1.25rem;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .cabecalho {
    margin-top: 1rem;
  }

  .cabecalho__opt {
    width: 10%;
  }

  .cabecalho__nav-busca {
    display: none;
  }
}

/* Desktop  */
@media screen and (min-width: 1024px) {
  .cabecalho__nav {
    display: none;
  }

  app-ad-logo {
    width: 20%;
  }

  .cabecalho__opt {
    width: 20%;
  }
}
