.cabecalho {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

app-ad-input-busca {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.cabecalho__opt {
  width: 30%;
  padding-right: 0.5rem;
}

.cabecalho__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cabecalho__nav-link {
  color: var(--branco);
  cursor: pointer;
}

.cabecalho__nav-link:hover {
  background: rgba(80, 129, 251, 0.08);
  border-radius: 1rem;
}

.cabecalho__nav-menu {
  display: none;

  position: absolute;
  right: 0;
  top: 4.25rem;
  min-width: 254px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 90vh;
  margin-right: 1rem;
  background: var(--bg-menu);
  border-radius: 0.5rem;
}

.cabecalho__pesquisa {
  background: rgba(255, 255, 255, 0.16);
  border: none;
  border-radius: 8px;
  height: 2.5rem;
  width: 100%;
  margin: 8px 0px;
  padding: 0px 14px;
  color: var(--bright);
  box-sizing: border-box;
}

.cabecalho__nav-conteudo {
  display: flex;
  flex-direction: column;
}

.cabecalho__nav-lista {
  margin: 0 1rem;
  color: var(--branco);
}

.cabecalho__nav-opt {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.cabecalho__nav-botao {
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.cabecalho__nav-botao--active {
  background: rgba(80, 129, 251, 0.16);
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.cabecalho__nav-icone {
  background: rgba(80, 129, 251, 0.16);
  border-radius: 1rem;
  padding: 1rem;
  margin-right: 1rem;
  border: 1px;
}

.cabecalho__nav-icone--ativo {
  background: var(--strong);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .cabecalho {
    margin-top: 1rem;
  }

  .cabecalho__logo {
    width: 20%;
    padding-left: 1rem;
  }

  .cabecalho__opt {
    width: 10%;
  }

  .cabecalho__nav-menu {
    top: 6rem;
    z-index: 1;
    height: 95vh;
  }

  .cabecalho__nav-busca {
    display: none;
  }
}

/* Desktop  */
@media screen and (min-width: 1024px) {
  .cabecalho__nav {
    display: none;
  }

  app-ad-logo {
    width: 20%;
  }

  .cabecalho__opt {
    width: 20%;
  }

  .cabecalho__avatar {
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  .cabecalho__nome {
    color: var(--bright);
  }

  .cabecalho__usuario {
    display: block;
    margin-left: 1rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .cabecalho__nav-menu {
    display: none;
  }
}

.db {
  display: block;
}

.dn {
  display: none;
}
