.conteudo__comunidade-container {
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.conteudo__comunidade-editor {
  height: 100%;
  background: var(--bg-editor);
  border: none;
  width: 100%;
  max-height: 480px;
  color: #fefefe;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  resize: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

pre {
  margin: 0px 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

pre[class*="language-"] {
  margin: 0;
}

code {
  white-space: pre-wrap;
  display: block;
  border: none;
  overflow: auto;
}

/* Desktop  */
@media screen and (min-width: 1024px) {
  .conteudo__comunidade-editor {
    cursor: pointer;
    overflow: hidden;
    height: 270px;
  }
}
